@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --background: 0 0% 7%;
  --foreground: 0 0% 98%;
  --card: 0 0% 3%;
  --card-foreground: 0 0% 98%;
  --popover: 0 0% 3%;
  --popover-foreground: 0 0% 98%;
  --primary: 78 100% 55%;
  --primary-foreground: 0 0% 9%;
  --secondary: 39 93% 69%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 15%;
  --muted-foreground: 0 0% 63.9%;
  --accent: 0 0% 15%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 14.9%;
  --input: 0 0% 14.9%;
  --ring: 78 100% 55%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

